#nomeDaPagina{
    color: rgb(86, 169, 224);
    font-family: 'Open Sans', Arial, sans-serif;
    background: rgba( 255, 255, 255, 0.1);
    backdrop-filter: blur( 10px);
}



body {
    background-image:url('./img/capa.jpg');
    background-size: 110%;
    background-repeat: repeat-y;
    background-position: center;
  }
  p {
      color: rgb(252, 250, 250);
      font-size: 20px;
      text-align:center
  }
  #menu{
      margin-top: 20px;
      background-color: #ededed;
      border-radius: 2px;
      margin-bottom: 80px;
  }

  #menu ul {
    text-align: center;  
    list-style: menu ;
  }
  #menu ul li {
      display: inline;
  }
  #menu ul li a {
      padding: 12px 10px; /* espaço ao redor da nossa tag em questão, <a> */
      font-size: 22p;

      background-color: #ededed;
      color:#333;
      text-decoration: none;
      /*border-bottom: 3px solid #5C44;*/
      border-radius: 5px;
}

#menu ul li a:hover{ /*interação com os botão*/
    background-color:rgb(53, 158, 206);
    color: #fff;
}
  
#jogos{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#jogos img{
    padding: 5px;
    width: 360px;
    height: 380px;
    border-radius: 20px;

}

 

 #produtos{
    display: flex;
    flex-direction: column;
    text-align:center;
    color:rgb(252, 252, 252); 
    
    background-color: rgba(0,0,0, 0.85);
     margin: 15px;
     border-radius: 30px;
     padding: 20px;
    }

    #produtos p {
        font-size: 14px;
        font-size: inherit;
    }

    #produtos button {
        background-color: rgb(53, 158, 206);
        padding : 10px;
        border-radius: 5px;
        border: none;
        color:rgb(252, 248, 248);
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;

    }

    #produtos button :hover{
        background-color: #b11d3b
    }
    #conteiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #conteiner img{
        padding: 5px;
        width: 360px;
        height: 260px;
        border-radius: 50px;
    }

    #about{
        display: flex;
        flex-direction:row;
        text-align:center;
        color:rgb(180, 177, 177); 
        
        background-color: rgba(0,0,0, 0.85);
         margin: 10px;
         border-radius: 5px;
         padding: 20px;
        }
        #about{
            background: rgba( 255, 255, 255, 0.1);
            backdrop-filter: blur( 10px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: #ededed;
        }
        #about h1{
            font-style: italic;
            position: relative;
        
        }
        #about p {
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 17px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode',
             'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: italic;
            text-align: justify;
        }

        #body-about {
            display: flex;
            flex-direction: row;
        }        